<%= form_with(model: [:message_board, message], class: "flex flex-col gap-4") do |form| %>
  <% if message.errors.any? %>
    <div class="alert alert-error shadow-lg">
      <div>
        <h3 class="font-bold"><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h3>
        <ul class="list-disc list-inside text-sm mt-2">
          <% message.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control w-full">
    <%= form.label :body, class: "label font-semibold" do %>
      <span class="label-text">Body</span>
    <% end %>
    <%= form.rich_text_area :body, class: "textarea textarea-bordered h-32 w-full focus:textarea-primary" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :image, class: "label font-semibold" do %>
      <span class="label-text">Image</span>
    <% end %>
    <%= form.file_field :image, class: "file-input file-input-bordered w-full focus:file-input-primary" %>
  </div>

  <div class="form-control w-full">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="form-control w-full">
    <%= form.hidden_field :message_board_id, value: @message_board.id %>
  </div>

  <div class="form-control mt-4">
    <%= form.submit class: "btn btn-primary w-fit" %>
  </div>
<% end %>
